## Cleaning Merged Data

In [4]:
## Necessary Libs
import pandas as pd

In [7]:
path = './mergedData.csv'

In [22]:
df = pd.read_csv(path)
df.columns

Index(['Unnamed: 0.1', 'name', 'studio', 'domestic_gross_x', 'foreign_gross',
       'year', 'movie_id', 'original_title_x', 'start_year', 'runtime_minutes',
       'genres', 'Unnamed: 0', 'genre_ids', 'id_x', 'original_language',
       'original_title_y', 'popularity', 'release_date_x', 'vote_average',
       'vote_count', 'id_y', 'release_date_y', 'production_budget',
       'domestic_gross_y', 'worldwide_gross'],
      dtype='object')

In [23]:
df.columns
coldrops = ['Unnamed: 0.1', 'year', 'movie_id', 'original_title_x', 'start_year', 'Unnamed: 0', 'genre_ids', 'id_x', 'original_title_y', 'id_y','domestic_gross_x', 'foreign_gross','release_date_y']

In [24]:
df = df.drop(coldrops, axis='columns')

In [33]:
df.dropna(subset=['runtime_minutes', 'genres'], inplace=True)

In [34]:
df

,name,studio,runtime_minutes,genres,original_language,popularity,release_date_x,vote_average,vote_count,production_budget,domestic_gross_y,worldwide_gross
0,Toy Story 3,BV,103.0,"Adventure,Animation,Comedy",en,24.445,2010-06-17,7.7,8340,"$200,000,000","$415,004,880","$1,068,879,522"
1,Inception,WB,148.0,"Action,Adventure,Sci-Fi",en,27.920,2010-07-16,8.3,22186,"$160,000,000","$292,576,195","$835,524,642"
2,Shrek Forever After,P/DW,93.0,"Adventure,Animation,Comedy",en,15.041,2010-05-16,6.1,3843,"$165,000,000","$238,736,787","$756,244,673"
3,The Twilight Saga: Eclipse,Sum.,124.0,"Adventure,Drama,Fantasy",en,20.340,2010-06-23,6.0,4909,"$68,000,000","$300,531,751","$706,102,828"
4,Iron Man 2,Par.,124.0,"Action,Adventure,Sci-Fi",en,28.515,2010-05-07,6.8,12368,"$170,000,000","$312,433,331","$621,156,389"
...,...,...,...,...,...,...,...,...,...,...,...,...
2092,Mandy,RLJ,113.0,"Drama,Thriller",en,16.240,2018-09-13,6.2,618,"$6,000,000","$1,214,525","$1,427,656"
2093,Mandy,RLJ,121.0,"Action,Fantasy,Horror",en,0.600,2016-01-24,3.5,2,"$6,000,000","$1,214,525","$1,427,656"
2094,Mandy,RLJ,121.0,"Action,Fantasy,Horror",en,16.240,2018-09-13,6.2,618,"$6,000,000","$1,214,525","$1,427,656"
2095,Lean on Pete,A24,121.0,"Adventure,Drama",en,9.307,2018-04-06,6.9,133,"$8,000,000","$1,163,056","$2,455,027"
2096,Lean on Pete,A24,121.0,"Adventure,Drama",en,9.307,2018-04-06,6.9,133,"$8,000,000","$1,163,056","$2,455,027"

In [36]:
df.to_csv('./cleaned_data.csv')

In [35]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1952 entries, 0 to 2096
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   name               1952 non-null   object
 1   studio             1952 non-null   object
 2   runtime_minutes    1952 non-null   float64
 3   genres             1952 non-null   object
 4   original_language  1952 non-null   object
 5   popularity         1952 non-null   float64
 6   release_date_x     1952 non-null   object
 7   vote_average       1952 non-null   float64
 8   vote_count         1952 non-null   int64
 9   production_budget  1952 non-null   object
 10  domestic_gross_y   1952 non-null   object
 11  worldwide_gross    1952 non-null   object
dtypes: float64(3), int64(1), object(8)
memory usage: 198.2+ KB