In [1]:
import sqlite3
import pandas as pd
import numpy as np
import scipy.stats as stats
import matplotlib.pyplot as plt
import seaborn as sns
import datetime as dt

conn = sqlite3.connect('zippedData/im.db')

In [2]:
rt_movie_df = pd.read_csv('zippedData/rt.movie_info.tsv', sep='\t')
rt_reviews_df = pd.read_csv('zippedData/rt.reviews.tsv', sep='\t', encoding='latin 1')
tmdb_movie_df = pd.read_csv('zippedData/tmdb.movies.csv')
tn_movie_df = pd.read_csv('zippedData/tn.movie_budgets.csv')
bom_movie_df = pd.read_csv('zippedData/bom.movie_gross.csv')

In [7]:
%%bash
sqlite3 zippedData/im.db
.tables

directors      movie_akas     movie_ratings  principals
known_for      movie_basics   persons        writers

In [14]:
movies_2000s = pd.read_sql("""
select *
from movie_basics
join movie_akas
using(movie_id)
where start_year >= 2000
group by movie_id
""", conn)

movies_2000s

,movie_id,primary_title,original_title,start_year,runtime_minutes,genres,ordering,title,region,language,types,attributes,is_original_title
0,tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama",1,Sangharsh,IN,hi,None,alternative transliteration,0.0
1,tt0066787,One Day Before the Rainy Season,Ashad Ka Ek Din,2019,114.0,"Biography,Drama",1,One Day Before the Rainy Season,XWW,en,None,None,0.0
2,tt0069049,The Other Side of the Wind,The Other Side of the Wind,2018,122.0,Drama,1,O Outro Lado do Vento,BR,None,imdbDisplay,None,0.0
3,tt0069204,Sabse Bada Sukh,Sabse Bada Sukh,2018,NaN,"Comedy,Drama",1,Subse Bada Sukh,IN,bn,None,None,0.0
4,tt0100275,The Wandering Soap Opera,La Telenovela Errante,2017,80.0,"Comedy,Drama,Fantasy",1,La Telenovela Errante,None,None,original,None,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
122297,tt9911774,Padmavyuhathile Abhimanyu,Padmavyuhathile Abhimanyu,2019,130.0,Drama,1,Padmavyuhathile Abhimanyu,None,None,original,None,1.0
122298,tt9913248,Nepal - Homebird,Nepal - Homebird,2019,52.0,Documentary,1,Nepal - Homebird,None,None,original,None,1.0
122299,tt9914254,A Cherry Tale,Kirsebæreventyret,2019,85.0,Documentary,1,Kirsebæreventyret,None,None,original,None,1.0
122300,tt9915436,Vida em Movimento,Vida em Movimento,2019,70.0,Documentary,1,Life in Movement,US,None,alternative,None,0.0
122301,tt9916170,The Rehearsal,O Ensaio,2019,51.0,Drama,1,O Ensaio,BR,None,None,None,0.0

In [11]:
us_keep = 'US'
us_movies_tmdb = movies_2000s['region'] == us_keep
us_movies_filt = movies_2000s[us_movies_tmdb]
us_movies_filt

,movie_id,primary_title,original_title,start_year,runtime_minutes,genres,ordering,title,region,language,types,attributes,is_original_title
6,tt0112502,Bigfoot,Bigfoot,2017,NaN,"Horror,Thriller",1,Bigfoot,US,None,None,None,0.0
16,tt0192528,Heaven & Hell,Reverse Heaven,2018,104.0,Drama,1,Heaven & Hell,US,None,imdbDisplay,None,0.0
17,tt0230212,The Final Journey,The Final Journey,2010,120.0,Drama,1,The Final Journey,US,None,None,None,0.0
22,tt0255820,Return to Babylon,Return to Babylon,2013,75.0,"Biography,Comedy,Drama",1,Return to Babylon,US,None,None,None,0.0
33,tt0297400,Snowblind,Snowblind,2015,NaN,"Crime,Drama",1,Snowblind,US,None,None,None,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
122187,tt9814242,Homeless at 17,Homeless at 17,2019,NaN,Drama,1,Homeless at 17,US,None,None,None,0.0
122188,tt9815714,The Hard Way,The Hard Way,2019,92.0,Action,1,The Hard Way,US,None,None,None,0.0
122200,tt9820914,Look Closer: The Rise and Fall of Robert Benfer,Look Closer: The Rise and Fall of Robert Benfer,2018,46.0,Documentary,1,Look Closer: The Rise and Fall of Robert Benfer,US,None,None,None,0.0
122204,tt9824512,L'Odyssée du Loup,L'Odyssée du Loup,2019,NaN,Documentary,1,A Wolf's Journey,US,None,alternative,None,0.0
122300,tt9915436,Vida em Movimento,Vida em Movimento,2019,70.0,Documentary,1,Life in Movement,US,None,alternative,None,0.0

In [12]:
us_movies_filt_sql = us_movies_filt

In [13]:
us_movies_filt_sql.to_sql('us_movies_filt_sql', conn, if_exists='replace', index=False)

36453

In [23]:
us_movie_ratings = pd.read_sql("""
SELECT *
FROM us_movies_filt_sql us
JOIN movie_ratings mr
ON us.movie_id = mr.movie_id
WHERE mr.averagerating >= 7
ORDER BY mr.averagerating DESC;
""", conn)

us_movie_ratings

,movie_id,primary_title,original_title,start_year,runtime_minutes,genres,ordering,title,region,language,types,attributes,is_original_title,movie_id,averagerating,numvotes
0,tt1770682,Freeing Bernie Baran,Freeing Bernie Baran,2010,100.0,"Crime,Documentary",1,Freeing Bernie Baran,US,None,None,None,0.0,tt1770682,10.0,5
1,tt4960818,Revolution Food,Revolution Food,2015,70.0,Documentary,1,Revolution Food,US,None,None,None,0.0,tt4960818,10.0,8
2,tt6991826,A Dedicated Life: Phoebe Brand Beyond the Group,A Dedicated Life: Phoebe Brand Beyond the Group,2015,93.0,Documentary,1,A Dedicated Life: Phoebe Brand and the Legacy ...,US,None,None,None,0.0,tt6991826,10.0,5
3,tt4944240,Dog Days in the Heartland,Dog Days in the Heartland,2017,NaN,Drama,1,Dog Days in the Heartland,US,None,None,None,0.0,tt4944240,10.0,5
4,tt5089804,Fly High: Story of the Disc Dog,Fly High: Story of the Disc Dog,2019,65.0,Documentary,1,Fly High: Story of the Disc Dog,US,None,None,None,0.0,tt5089804,10.0,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7310,tt4687782,No Greater Love,No Greater Love,2015,94.0,Documentary,1,No Greater Love,US,None,None,None,0.0,tt4687782,7.0,122
7311,tt5147042,Unseen,Unseen,2016,75.0,"Crime,Documentary",1,Unseen,US,None,None,None,0.0,tt5147042,7.0,351
7312,tt6670584,Mundo: From Altar Boy to Hitman,Mundo: From Altar Boy to Hitman,2018,89.0,Crime,1,Mundo: From Altar Boy to Hitman,US,None,None,None,0.0,tt6670584,7.0,43
7313,tt1975286,The Land of Eb,The Land of Eb,2012,87.0,"Drama,Family",1,The Land of Eb,US,None,None,None,0.0,tt1975286,7.0,32
7314,tt3017122,Harry's Metaphysical Day Off,Harry's Metaphysical Day Off,2013,64.0,"Comedy,Drama,Romance",1,Harry's Metaphysical Day Off,US,None,None,None,0.0,tt3017122,7.0,8

In [30]:
us_movie_ratings = us_movie_ratings.drop(columns=['language', 'types', 'attributes'])

In [34]:
us_movies_filt = us_movies_filt.drop(columns=['language', 'types', 'attributes'])

In [83]:
us_movie_ratings = us_movie_ratings.rename(columns={'start_year': 'year'})

In [84]:
us_movie_ratings

,movie_id,primary_title,year,runtime_minutes,genres,region,averagerating,numvotes,title_year
0,tt1770682,Freeing Bernie Baran,2010,100.0,"Crime,Documentary",US,10.0,5,"Freeing Bernie Baran, 2010"
1,tt4960818,Revolution Food,2015,70.0,Documentary,US,10.0,8,"Revolution Food, 2015"
2,tt6991826,A Dedicated Life: Phoebe Brand Beyond the Group,2015,93.0,Documentary,US,10.0,5,A Dedicated Life: Phoebe Brand Beyond the Grou...
3,tt4944240,Dog Days in the Heartland,2017,NaN,Drama,US,10.0,5,"Dog Days in the Heartland, 2017"
4,tt5089804,Fly High: Story of the Disc Dog,2019,65.0,Documentary,US,10.0,7,"Fly High: Story of the Disc Dog, 2019"
...,...,...,...,...,...,...,...,...,...
7310,tt4687782,No Greater Love,2015,94.0,Documentary,US,7.0,122,"No Greater Love, 2015"
7311,tt5147042,Unseen,2016,75.0,"Crime,Documentary",US,7.0,351,"Unseen, 2016"
7312,tt6670584,Mundo: From Altar Boy to Hitman,2018,89.0,Crime,US,7.0,43,"Mundo: From Altar Boy to Hitman, 2018"
7313,tt1975286,The Land of Eb,2012,87.0,"Drama,Family",US,7.0,32,"The Land of Eb, 2012"
7314,tt3017122,Harry's Metaphysical Day Off,2013,64.0,"Comedy,Drama,Romance",US,7.0,8,"Harry's Metaphysical Day Off, 2013"

In [25]:
tn_movie_sql = tn_movie_df.copy()
tn_movie_sql.to_sql('tn_movie_sql', conn, if_exists='replace', index=False)

5782

In [22]:
tn_movie_df

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross
0,1,"Dec 18, 2009",Avatar,"$425,000,000","$760,507,625","$2,776,345,279"
1,2,"May 20, 2011",Pirates of the Caribbean: On Stranger Tides,"$410,600,000","$241,063,875","$1,045,663,875"
2,3,"Jun 7, 2019",Dark Phoenix,"$350,000,000","$42,762,350","$149,762,350"
3,4,"May 1, 2015",Avengers: Age of Ultron,"$330,600,000","$459,005,868","$1,403,013,963"
4,5,"Dec 15, 2017",Star Wars Ep. VIII: The Last Jedi,"$317,000,000","$620,181,382","$1,316,721,747"
...,...,...,...,...,...,...
5777,78,"Dec 31, 2018",Red 11,"$7,000",$0,$0
5778,79,"Apr 2, 1999",Following,"$6,000","$48,482","$240,495"
5779,80,"Jul 13, 2005",Return to the Land of Wonders,"$5,000","$1,338","$1,338"
5780,81,"Sep 29, 2015",A Plague So Pleasant,"$1,400",$0,$0
5781,82,"Aug 5, 2005",My Date With Drew,"$1,100","$181,041","$181,041"

In [56]:
tn_movie_df['year'] = tn_movie_df['release_date'].dt.year
tn_movie_df

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross,year
0,1,2009-12-18,Avatar,"$425,000,000","$760,507,625","$2,776,345,279",2009
1,2,2011-05-20,Pirates of the Caribbean: On Stranger Tides,"$410,600,000","$241,063,875","$1,045,663,875",2011
2,3,2019-06-07,Dark Phoenix,"$350,000,000","$42,762,350","$149,762,350",2019
3,4,2015-05-01,Avengers: Age of Ultron,"$330,600,000","$459,005,868","$1,403,013,963",2015
4,5,2017-12-15,Star Wars Ep. VIII: The Last Jedi,"$317,000,000","$620,181,382","$1,316,721,747",2017
...,...,...,...,...,...,...,...
5777,78,2018-12-31,Red 11,"$7,000",$0,$0,2018
5778,79,1999-04-02,Following,"$6,000","$48,482","$240,495",1999
5779,80,2005-07-13,Return to the Land of Wonders,"$5,000","$1,338","$1,338",2005
5780,81,2015-09-29,A Plague So Pleasant,"$1,400",$0,$0,2015
5781,82,2005-08-05,My Date With Drew,"$1,100","$181,041","$181,041",2005

In [59]:
tn_movie_df['title_year'] = tn_movie_df.apply(lambda row: f"{row['movie']}, {row['year']}", axis=1)

In [60]:
tn_movie_df

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross,year,movie_year,title_year
0,1,2009-12-18,Avatar,"$425,000,000","$760,507,625","$2,776,345,279",2009,"Avatar, 2009","Avatar, 2009"
1,2,2011-05-20,Pirates of the Caribbean: On Stranger Tides,"$410,600,000","$241,063,875","$1,045,663,875",2011,"Pirates of the Caribbean: On Stranger Tides, 2011","Pirates of the Caribbean: On Stranger Tides, 2011"
2,3,2019-06-07,Dark Phoenix,"$350,000,000","$42,762,350","$149,762,350",2019,"Dark Phoenix, 2019","Dark Phoenix, 2019"
3,4,2015-05-01,Avengers: Age of Ultron,"$330,600,000","$459,005,868","$1,403,013,963",2015,"Avengers: Age of Ultron, 2015","Avengers: Age of Ultron, 2015"
4,5,2017-12-15,Star Wars Ep. VIII: The Last Jedi,"$317,000,000","$620,181,382","$1,316,721,747",2017,"Star Wars Ep. VIII: The Last Jedi, 2017","Star Wars Ep. VIII: The Last Jedi, 2017"
...,...,...,...,...,...,...,...,...,...
5777,78,2018-12-31,Red 11,"$7,000",$0,$0,2018,"Red 11, 2018","Red 11, 2018"
5778,79,1999-04-02,Following,"$6,000","$48,482","$240,495",1999,"Following, 1999","Following, 1999"
5779,80,2005-07-13,Return to the Land of Wonders,"$5,000","$1,338","$1,338",2005,"Return to the Land of Wonders, 2005","Return to the Land of Wonders, 2005"
5780,81,2015-09-29,A Plague So Pleasant,"$1,400",$0,$0,2015,"A Plague So Pleasant, 2015","A Plague So Pleasant, 2015"
5781,82,2005-08-05,My Date With Drew,"$1,100","$181,041","$181,041",2005,"My Date With Drew, 2005","My Date With Drew, 2005"

In [70]:
tn_movie_df = tn_movie_df.drop(columns=['movie_year'])
tn_movie_df

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross,year,title_year
0,1,2009-12-18,Avatar,"$425,000,000","$760,507,625","$2,776,345,279",2009,"Avatar, 2009"
1,2,2011-05-20,Pirates of the Caribbean: On Stranger Tides,"$410,600,000","$241,063,875","$1,045,663,875",2011,"Pirates of the Caribbean: On Stranger Tides, 2011"
2,3,2019-06-07,Dark Phoenix,"$350,000,000","$42,762,350","$149,762,350",2019,"Dark Phoenix, 2019"
3,4,2015-05-01,Avengers: Age of Ultron,"$330,600,000","$459,005,868","$1,403,013,963",2015,"Avengers: Age of Ultron, 2015"
4,5,2017-12-15,Star Wars Ep. VIII: The Last Jedi,"$317,000,000","$620,181,382","$1,316,721,747",2017,"Star Wars Ep. VIII: The Last Jedi, 2017"
...,...,...,...,...,...,...,...,...
5777,78,2018-12-31,Red 11,"$7,000",$0,$0,2018,"Red 11, 2018"
5778,79,1999-04-02,Following,"$6,000","$48,482","$240,495",1999,"Following, 1999"
5779,80,2005-07-13,Return to the Land of Wonders,"$5,000","$1,338","$1,338",2005,"Return to the Land of Wonders, 2005"
5780,81,2015-09-29,A Plague So Pleasant,"$1,400",$0,$0,2015,"A Plague So Pleasant, 2015"
5781,82,2005-08-05,My Date With Drew,"$1,100","$181,041","$181,041",2005,"My Date With Drew, 2005"

In [87]:
all_same = (us_movie_ratings['primary_title'] == us_movie_ratings['original_title']) & \
        (us_movie_ratings['original_title'] == us_movie_ratings['title'])

num_same = all_same.sum()
total_rows = len(us_movie_ratings)

print(f"✅ {num_same} out of {total_rows} rows have identical values in all three columns.")

KeyError: 'original_title'

In [39]:
diff_rows = us_movie_ratings[~all_same]
print(f"⚠️ {len(diff_rows)} rows have different values in at least one column.")

⚠️ 366 rows have different values in at least one column.

In [40]:
display(diff_rows.head(20))

,movie_id,primary_title,original_title,start_year,runtime_minutes,genres,ordering,title,region,is_original_title,movie_id,averagerating,numvotes
2,tt6991826,A Dedicated Life: Phoebe Brand Beyond the Group,A Dedicated Life: Phoebe Brand Beyond the Group,2015,93.0,Documentary,1,A Dedicated Life: Phoebe Brand and the Legacy ...,US,0.0,tt6991826,10.0,5
11,tt4824256,Blackbear,Submission,2019,94.0,"Drama,Sport",1,Submission,US,0.0,tt4824256,9.7,6
82,tt1702417,Zlin the lived Utopia,Zlín - Die gelebte Utopie,2010,NaN,Documentary,1,Zlin the lived Utopia,US,0.0,tt1702417,9.3,23
89,tt0808447,The Last Pogo Jumps Again,The Last Pogo Jumps Again,2013,200.0,"Documentary,Music",1,The Return of the Last Pogo,US,0.0,tt0808447,9.3,42
172,tt3001718,Curse of the Gray Elephant,Proklyatie serogo slonyonka,2011,77.0,Documentary,1,Cursed of the Grey Elephant,US,0.0,tt3001718,9.2,66
193,tt2646540,Estudiar en primavera,Estudiar en primavera,2014,53.0,"Documentary,Drama,Musical",1,Spanish Teen Rally,US,0.0,tt2646540,9.2,17
238,tt3188146,One Piece Podcast Goes to Japan,One Piece Podcast in Japan,2014,NaN,Documentary,1,One Piece Podcast Goes to Japan,US,0.0,tt3188146,9.2,18
239,tt2033219,Rites of Passage,Burning Man: Rites of Passage,2012,77.0,"Adventure,Documentary,Western",1,Rites of Passage,US,0.0,tt2033219,9.2,73
248,tt5123896,"Scream, Queen! My Nightmare on Elm Street","Scream, Queen! My Nightmare on Elm Street",2019,99.0,Documentary,1,"Scream, Queen: My Nightmare on Elm Street",US,0.0,tt5123896,9.2,21
257,tt6680050,The Man Who Unlocked the Universe,The Man Who Unlocked the Universe,2017,60.0,Documentary,1,Ulugh Beg: Through Hardships to the Stars,US,0.0,tt6680050,9.2,14
302,tt7948602,Stiller Kamerad,Stiller Kamerad,2017,88.0,"Documentary,Drama,War",1,Silent Comrade: How Horses Help Soldiers to Ov...,US,0.0,tt7948602,9.1,11
316,tt0436782,A Life in the Death of Joe Meek,A Life in the Death of Joe Meek,2013,122.0,Documentary,1,Something I've Got to Tell You: A Life in the ...,US,0.0,tt0436782,9.1,24
323,tt6842288,Paper City Burnout,Paper City Burnout,2018,98.0,Drama,1,Avalanche,US,0.0,tt6842288,9.1,8
326,tt7524720,D-Day at Pointe-du-Hoc,D-Day at Pointe-du-Hoc,2019,55.0,Documentary,1,The Rangers at Pointe du Hoc,US,0.0,tt7524720,9.1,7
335,tt5957600,Psycho Family,Psycho Family,2017,91.0,Documentary,1,The Psycho Series Documentary,US,0.0,tt5957600,9.1,528
386,tt5965528,Adele and Everything After,Letting Go of Adele,2017,86.0,"Biography,Documentary,Romance",1,Adele and Everything After,US,0.0,tt5965528,9.0,33
403,tt6281560,Despertar: Awaken,Despertar: Awaken,2017,NaN,Drama,1,AWAKENINGS,US,0.0,tt6281560,9.0,16
482,tt3347374,APOM,A Product of Me,2014,80.0,Drama,1,APOM,US,0.0,tt3347374,9.0,7
485,tt1493812,My So-Called Enemy,My So-Called Enemy,2010,89.0,Documentary,1,Imagining Peace,US,0.0,tt1493812,9.0,38
510,tt4234664,Auction Insider: The John Zimmer Collection,Auction Insider: The John Zimmer Collection,2014,NaN,Documentary,1,Auction Insider,US,0.0,tt4234664,9.0,9

In [41]:
if num_same == total_rows:
    us_movie_ratings = us_movie_ratings.drop(columns=['title', 'original_title'])
    print("✅ Dropped 'title' and 'original_title' since they are identical to 'primary_title'.")

In [44]:
us_movie_ratings['primary_title'] = us_movie_ratings['primary_title'].fillna(us_movie_ratings['original_title'])

us_movie_ratings = us_movie_ratings.drop(columns=['title', 'original_title'])
print("✅ Kept 'primary_title' and filled missing values where possible.")

KeyError: 'original_title'

In [88]:
us_movie_ratings

,movie_id,primary_title,year,runtime_minutes,genres,region,averagerating,numvotes,title_year
0,tt1770682,Freeing Bernie Baran,2010,100.0,"Crime,Documentary",US,10.0,5,"Freeing Bernie Baran, 2010"
1,tt4960818,Revolution Food,2015,70.0,Documentary,US,10.0,8,"Revolution Food, 2015"
2,tt6991826,A Dedicated Life: Phoebe Brand Beyond the Group,2015,93.0,Documentary,US,10.0,5,A Dedicated Life: Phoebe Brand Beyond the Grou...
3,tt4944240,Dog Days in the Heartland,2017,NaN,Drama,US,10.0,5,"Dog Days in the Heartland, 2017"
4,tt5089804,Fly High: Story of the Disc Dog,2019,65.0,Documentary,US,10.0,7,"Fly High: Story of the Disc Dog, 2019"
...,...,...,...,...,...,...,...,...,...
7310,tt4687782,No Greater Love,2015,94.0,Documentary,US,7.0,122,"No Greater Love, 2015"
7311,tt5147042,Unseen,2016,75.0,"Crime,Documentary",US,7.0,351,"Unseen, 2016"
7312,tt6670584,Mundo: From Altar Boy to Hitman,2018,89.0,Crime,US,7.0,43,"Mundo: From Altar Boy to Hitman, 2018"
7313,tt1975286,The Land of Eb,2012,87.0,"Drama,Family",US,7.0,32,"The Land of Eb, 2012"
7314,tt3017122,Harry's Metaphysical Day Off,2013,64.0,"Comedy,Drama,Romance",US,7.0,8,"Harry's Metaphysical Day Off, 2013"

In [89]:
us_movie_ratings['title_year'] = us_movie_ratings.apply(lambda row: f"{row['primary_title']}, {row['start_year']}", axis=1)

KeyError: 'start_year'

In [90]:
us_movie_ratings

,movie_id,primary_title,year,runtime_minutes,genres,region,averagerating,numvotes,title_year
0,tt1770682,Freeing Bernie Baran,2010,100.0,"Crime,Documentary",US,10.0,5,"Freeing Bernie Baran, 2010"
1,tt4960818,Revolution Food,2015,70.0,Documentary,US,10.0,8,"Revolution Food, 2015"
2,tt6991826,A Dedicated Life: Phoebe Brand Beyond the Group,2015,93.0,Documentary,US,10.0,5,A Dedicated Life: Phoebe Brand Beyond the Grou...
3,tt4944240,Dog Days in the Heartland,2017,NaN,Drama,US,10.0,5,"Dog Days in the Heartland, 2017"
4,tt5089804,Fly High: Story of the Disc Dog,2019,65.0,Documentary,US,10.0,7,"Fly High: Story of the Disc Dog, 2019"
...,...,...,...,...,...,...,...,...,...
7310,tt4687782,No Greater Love,2015,94.0,Documentary,US,7.0,122,"No Greater Love, 2015"
7311,tt5147042,Unseen,2016,75.0,"Crime,Documentary",US,7.0,351,"Unseen, 2016"
7312,tt6670584,Mundo: From Altar Boy to Hitman,2018,89.0,Crime,US,7.0,43,"Mundo: From Altar Boy to Hitman, 2018"
7313,tt1975286,The Land of Eb,2012,87.0,"Drama,Family",US,7.0,32,"The Land of Eb, 2012"
7314,tt3017122,Harry's Metaphysical Day Off,2013,64.0,"Comedy,Drama,Romance",US,7.0,8,"Harry's Metaphysical Day Off, 2013"

In [61]:
print(us_movie_ratings.columns)

Index(['movie_id', 'primary_title', 'start_year', 'runtime_minutes', 'genres',
       'ordering', 'region', 'is_original_title', 'movie_id', 'averagerating',
       'numvotes', 'title_year'],
      dtype='object')

In [62]:
us_movie_ratings.columns = [f"{col}_{i}" if us_movie_ratings.columns.duplicated()[i] else col
                            for i, col in enumerate(us_movie_ratings.columns)]

In [91]:
us_movie_ratings

,movie_id,primary_title,year,runtime_minutes,genres,region,averagerating,numvotes,title_year
0,tt1770682,Freeing Bernie Baran,2010,100.0,"Crime,Documentary",US,10.0,5,"Freeing Bernie Baran, 2010"
1,tt4960818,Revolution Food,2015,70.0,Documentary,US,10.0,8,"Revolution Food, 2015"
2,tt6991826,A Dedicated Life: Phoebe Brand Beyond the Group,2015,93.0,Documentary,US,10.0,5,A Dedicated Life: Phoebe Brand Beyond the Grou...
3,tt4944240,Dog Days in the Heartland,2017,NaN,Drama,US,10.0,5,"Dog Days in the Heartland, 2017"
4,tt5089804,Fly High: Story of the Disc Dog,2019,65.0,Documentary,US,10.0,7,"Fly High: Story of the Disc Dog, 2019"
...,...,...,...,...,...,...,...,...,...
7310,tt4687782,No Greater Love,2015,94.0,Documentary,US,7.0,122,"No Greater Love, 2015"
7311,tt5147042,Unseen,2016,75.0,"Crime,Documentary",US,7.0,351,"Unseen, 2016"
7312,tt6670584,Mundo: From Altar Boy to Hitman,2018,89.0,Crime,US,7.0,43,"Mundo: From Altar Boy to Hitman, 2018"
7313,tt1975286,The Land of Eb,2012,87.0,"Drama,Family",US,7.0,32,"The Land of Eb, 2012"
7314,tt3017122,Harry's Metaphysical Day Off,2013,64.0,"Comedy,Drama,Romance",US,7.0,8,"Harry's Metaphysical Day Off, 2013"

In [68]:
same_movie_id = (us_movie_ratings['movie_id'] == us_movie_ratings['movie_id_8'])

num_same_movie_id = same_movie_id.sum()
total_rows_movie_id = len(us_movie_ratings)

print(f"✅ {num_same_movie_id} out of {total_rows_movie_id} rows have identical values in both columns.")

✅ 7315 out of 7315 rows have identical values in both columns.

In [95]:
us_movie_ratings

,movie_id,primary_title,year,runtime_minutes,genres,region,averagerating,numvotes,title_year
0,tt1770682,Freeing Bernie Baran,2010,100.0,"Crime,Documentary",US,10.0,5,"Freeing Bernie Baran, 2010"
1,tt4960818,Revolution Food,2015,70.0,Documentary,US,10.0,8,"Revolution Food, 2015"
2,tt6991826,A Dedicated Life: Phoebe Brand Beyond the Group,2015,93.0,Documentary,US,10.0,5,A Dedicated Life: Phoebe Brand Beyond the Grou...
3,tt4944240,Dog Days in the Heartland,2017,NaN,Drama,US,10.0,5,"Dog Days in the Heartland, 2017"
4,tt5089804,Fly High: Story of the Disc Dog,2019,65.0,Documentary,US,10.0,7,"Fly High: Story of the Disc Dog, 2019"
...,...,...,...,...,...,...,...,...,...
7310,tt4687782,No Greater Love,2015,94.0,Documentary,US,7.0,122,"No Greater Love, 2015"
7311,tt5147042,Unseen,2016,75.0,"Crime,Documentary",US,7.0,351,"Unseen, 2016"
7312,tt6670584,Mundo: From Altar Boy to Hitman,2018,89.0,Crime,US,7.0,43,"Mundo: From Altar Boy to Hitman, 2018"
7313,tt1975286,The Land of Eb,2012,87.0,"Drama,Family",US,7.0,32,"The Land of Eb, 2012"
7314,tt3017122,Harry's Metaphysical Day Off,2013,64.0,"Comedy,Drama,Romance",US,7.0,8,"Harry's Metaphysical Day Off, 2013"

In [97]:
tn_movie_df = tn_movie_df.drop(columns=['release_date', 'domestic_gross'])
tn_movie_df

,id,movie,production_budget,worldwide_gross,year,title_year
0,1,Avatar,"$425,000,000","$2,776,345,279",2009,"Avatar, 2009"
1,2,Pirates of the Caribbean: On Stranger Tides,"$410,600,000","$1,045,663,875",2011,"Pirates of the Caribbean: On Stranger Tides, 2011"
2,3,Dark Phoenix,"$350,000,000","$149,762,350",2019,"Dark Phoenix, 2019"
3,4,Avengers: Age of Ultron,"$330,600,000","$1,403,013,963",2015,"Avengers: Age of Ultron, 2015"
4,5,Star Wars Ep. VIII: The Last Jedi,"$317,000,000","$1,316,721,747",2017,"Star Wars Ep. VIII: The Last Jedi, 2017"
...,...,...,...,...,...,...
5777,78,Red 11,"$7,000",$0,2018,"Red 11, 2018"
5778,79,Following,"$6,000","$240,495",1999,"Following, 1999"
5779,80,Return to the Land of Wonders,"$5,000","$1,338",2005,"Return to the Land of Wonders, 2005"
5780,81,A Plague So Pleasant,"$1,400",$0,2015,"A Plague So Pleasant, 2015"
5781,82,My Date With Drew,"$1,100","$181,041",2005,"My Date With Drew, 2005"

In [132]:
tn_sql = tn_movie_df.copy()

In [133]:
tn_sql.to_sql('tn_sql', conn, if_exists='replace', index=False)

5782

In [99]:
us_movies_df_sql = us_movie_ratings

In [130]:
us_movies_df_sql.to_sql('us_movies_df_sql', conn, if_exists='replace', index=False)

7315

In [102]:
us_movies_dir_wri = pd.read_sql("""
select umds.*, d.director_names, w.writer_names
from us_movies_df_sql umds
left join(
    select d.movie_id, group_concat(p.primary_name, ', ') as director_names
    from directors d
    join persons p on d.person_id = p.person_id
    group by d.movie_id
) d on umds.movie_id = d.movie_id
left join(
    select w.movie_id, group_concat(p.primary_name, ', ') as writer_names
    from writers w
    join persons p on w.person_id = p.person_id
    group by w.movie_id
) w on umds.movie_id = w.movie_id;
""", conn)

In [145]:
us_movies_dir_wri

,movie_id,primary_title,year,runtime_minutes,genres,region,averagerating,numvotes,title_year,director_names,writer_names
0,tt1770682,Freeing Bernie Baran,2010,100.0,"Crime,Documentary",US,10.0,5,"Freeing Bernie Baran, 2010",Daniel Alexander,Daniel Alexander
1,tt4960818,Revolution Food,2015,70.0,Documentary,US,10.0,8,"Revolution Food, 2015","Loreto Di Cesare, Loreto Di Cesare","Brian Baucum, Loreto Di Cesare"
2,tt6991826,A Dedicated Life: Phoebe Brand Beyond the Group,2015,93.0,Documentary,US,10.0,5,A Dedicated Life: Phoebe Brand Beyond the Grou...,Cristina Duarte,Cristina Duarte
3,tt4944240,Dog Days in the Heartland,2017,NaN,Drama,US,10.0,5,"Dog Days in the Heartland, 2017",Chad Carpenter,None
4,tt5089804,Fly High: Story of the Disc Dog,2019,65.0,Documentary,US,10.0,7,"Fly High: Story of the Disc Dog, 2019",Lindsay Thompson,Lindsay Thompson
...,...,...,...,...,...,...,...,...,...,...,...
7310,tt4687782,No Greater Love,2015,94.0,Documentary,US,7.0,122,"No Greater Love, 2015","Justin Roberts, Justin Roberts","Justin Roberts, Alan Wain"
7311,tt5147042,Unseen,2016,75.0,"Crime,Documentary",US,7.0,351,"Unseen, 2016","Laura Paglin, Laura Paglin","Nels Bangerter, Laura Paglin"
7312,tt6670584,Mundo: From Altar Boy to Hitman,2018,89.0,Crime,US,7.0,43,"Mundo: From Altar Boy to Hitman, 2018",P.J. Bollinger,None
7313,tt1975286,The Land of Eb,2012,87.0,"Drama,Family",US,7.0,32,"The Land of Eb, 2012","Andrew Williamson, Andrew Williamson","John Hill, Andrew Williamson"
7314,tt3017122,Harry's Metaphysical Day Off,2013,64.0,"Comedy,Drama,Romance",US,7.0,8,"Harry's Metaphysical Day Off, 2013",Andrew Mayeux,Peter Beary

In [146]:
 us_movies_df = us_movies_dir_wri.copy()

In [111]:
horror_count = us_movies_df['genres'].str.contains("Horror", case=False, na=False).sum()
comedy_count = us_movies_df['genres'].str.contains("Comedy", case=False, na=False).sum()
drama_count = us_movies_df['genres'].str.contains("Drama", case=False, na=False).sum()

print(f"🎭 Drama appears in {drama_count} movies")
print(f"😂 Comedy appears in {comedy_count} movies")
print(f"😱 Horror appears in {horror_count} movies")

🎭 Drama appears in 2581 movies
😂 Comedy appears in 1493 movies
😱 Horror appears in 273 movies

In [112]:
us_horror = us_movies_df[us_movies_df['genres'].str.contains("Horror", case=False, na=False)].copy()
us_comedy = us_movies_df[us_movies_df['genres'].str.contains("Comedy", case=False, na=False)].copy()
us_drama = us_movies_df[us_movies_df['genres'].str.contains("Drama", case=False, na=False)].copy()

print(f"✅ Created DataFrames: Horror ({len(us_horror)}), Comedy ({len(us_comedy)}), Drama ({len(us_drama)})")

✅ Created DataFrames: Horror (273), Comedy (1493), Drama (2581)

In [120]:
dup_check = tn_movie_df.duplicated(subset=['title_year', 'year'], keep=False)  # Keep=False marks ALL duplicates
tn_dupes = tn_movie_df[dup_check]  # Filter only duplicates

print(f"🔹 Found {len(tn_dupes)} duplicate title-year pairs in tn_movie_df.")

🔹 Found 2 duplicate title-year pairs in tn_movie_df.

In [121]:
tn_movie_df_clean = tn_movie_df.drop_duplicates(subset=['title_year', 'year'], keep='first')

In [147]:
us_movies_df

,movie_id,primary_title,year,runtime_minutes,genres,region,averagerating,numvotes,title_year,director_names,writer_names
0,tt1770682,Freeing Bernie Baran,2010,100.0,"Crime,Documentary",US,10.0,5,"Freeing Bernie Baran, 2010",Daniel Alexander,Daniel Alexander
1,tt4960818,Revolution Food,2015,70.0,Documentary,US,10.0,8,"Revolution Food, 2015","Loreto Di Cesare, Loreto Di Cesare","Brian Baucum, Loreto Di Cesare"
2,tt6991826,A Dedicated Life: Phoebe Brand Beyond the Group,2015,93.0,Documentary,US,10.0,5,A Dedicated Life: Phoebe Brand Beyond the Grou...,Cristina Duarte,Cristina Duarte
3,tt4944240,Dog Days in the Heartland,2017,NaN,Drama,US,10.0,5,"Dog Days in the Heartland, 2017",Chad Carpenter,None
4,tt5089804,Fly High: Story of the Disc Dog,2019,65.0,Documentary,US,10.0,7,"Fly High: Story of the Disc Dog, 2019",Lindsay Thompson,Lindsay Thompson
...,...,...,...,...,...,...,...,...,...,...,...
7310,tt4687782,No Greater Love,2015,94.0,Documentary,US,7.0,122,"No Greater Love, 2015","Justin Roberts, Justin Roberts","Justin Roberts, Alan Wain"
7311,tt5147042,Unseen,2016,75.0,"Crime,Documentary",US,7.0,351,"Unseen, 2016","Laura Paglin, Laura Paglin","Nels Bangerter, Laura Paglin"
7312,tt6670584,Mundo: From Altar Boy to Hitman,2018,89.0,Crime,US,7.0,43,"Mundo: From Altar Boy to Hitman, 2018",P.J. Bollinger,None
7313,tt1975286,The Land of Eb,2012,87.0,"Drama,Family",US,7.0,32,"The Land of Eb, 2012","Andrew Williamson, Andrew Williamson","John Hill, Andrew Williamson"
7314,tt3017122,Harry's Metaphysical Day Off,2013,64.0,"Comedy,Drama,Romance",US,7.0,8,"Harry's Metaphysical Day Off, 2013",Andrew Mayeux,Peter Beary

In [139]:
us_movies_df = us_movies_df.drop(columns=['production_budget', 'worldwide_gross'])

In [148]:
us_movies_df.set_index('title_year', inplace=True)
us_movies_df

,movie_id,primary_title,year,runtime_minutes,genres,region,averagerating,numvotes,director_names,writer_names
title_year,,,,,,,,,,
"Freeing Bernie Baran, 2010",tt1770682,Freeing Bernie Baran,2010,100.0,"Crime,Documentary",US,10.0,5,Daniel Alexander,Daniel Alexander
"Revolution Food, 2015",tt4960818,Revolution Food,2015,70.0,Documentary,US,10.0,8,"Loreto Di Cesare, Loreto Di Cesare","Brian Baucum, Loreto Di Cesare"
"A Dedicated Life: Phoebe Brand Beyond the Group, 2015",tt6991826,A Dedicated Life: Phoebe Brand Beyond the Group,2015,93.0,Documentary,US,10.0,5,Cristina Duarte,Cristina Duarte
"Dog Days in the Heartland, 2017",tt4944240,Dog Days in the Heartland,2017,NaN,Drama,US,10.0,5,Chad Carpenter,None
"Fly High: Story of the Disc Dog, 2019",tt5089804,Fly High: Story of the Disc Dog,2019,65.0,Documentary,US,10.0,7,Lindsay Thompson,Lindsay Thompson
...,...,...,...,...,...,...,...,...,...,...
"No Greater Love, 2015",tt4687782,No Greater Love,2015,94.0,Documentary,US,7.0,122,"Justin Roberts, Justin Roberts","Justin Roberts, Alan Wain"
"Unseen, 2016",tt5147042,Unseen,2016,75.0,"Crime,Documentary",US,7.0,351,"Laura Paglin, Laura Paglin","Nels Bangerter, Laura Paglin"
"Mundo: From Altar Boy to Hitman, 2018",tt6670584,Mundo: From Altar Boy to Hitman,2018,89.0,Crime,US,7.0,43,P.J. Bollinger,None
"The Land of Eb, 2012",tt1975286,The Land of Eb,2012,87.0,"Drama,Family",US,7.0,32,"Andrew Williamson, Andrew Williamson","John Hill, Andrew Williamson"
"Harry's Metaphysical Day Off, 2013",tt3017122,Harry's Metaphysical Day Off,2013,64.0,"Comedy,Drama,Romance",US,7.0,8,Andrew Mayeux,Peter Beary

In [142]:
tn_movie_df.set_index('title_year', inplace=True)
tn_movie_df

,id,movie,production_budget,worldwide_gross,year
title_year,,,,,
"Avatar, 2009",1,Avatar,"$425,000,000","$2,776,345,279",2009
"Pirates of the Caribbean: On Stranger Tides, 2011",2,Pirates of the Caribbean: On Stranger Tides,"$410,600,000","$1,045,663,875",2011
"Dark Phoenix, 2019",3,Dark Phoenix,"$350,000,000","$149,762,350",2019
"Avengers: Age of Ultron, 2015",4,Avengers: Age of Ultron,"$330,600,000","$1,403,013,963",2015
"Star Wars Ep. VIII: The Last Jedi, 2017",5,Star Wars Ep. VIII: The Last Jedi,"$317,000,000","$1,316,721,747",2017
...,...,...,...,...,...
"Red 11, 2018",78,Red 11,"$7,000",$0,2018
"Following, 1999",79,Following,"$6,000","$240,495",1999
"Return to the Land of Wonders, 2005",80,Return to the Land of Wonders,"$5,000","$1,338",2005
"A Plague So Pleasant, 2015",81,A Plague So Pleasant,"$1,400",$0,2015
"My Date With Drew, 2005",82,My Date With Drew,"$1,100","$181,041",2005

In [143]:
tn_movie_df['production_budget'] = tn_movie_df['production_budget'].str.replace('[\$,]', '', regex=True)
tn_movie_df['worldwide_gross'] = tn_movie_df['worldwide_gross'].str.replace('[\$,]', '', regex=True)

<>:1: SyntaxWarning: invalid escape sequence '\$'
<>:2: SyntaxWarning: invalid escape sequence '\$'
<>:1: SyntaxWarning: invalid escape sequence '\$'
<>:2: SyntaxWarning: invalid escape sequence '\$'
/var/folders/m7/tzk7gpbd05j79z_hsb25z6jm0000gn/T/ipykernel_45025/2119372747.py:1: SyntaxWarning: invalid escape sequence '\$'
  tn_movie_df['production_budget'] = tn_movie_df['production_budget'].str.replace('[\$,]', '', regex=True)
/var/folders/m7/tzk7gpbd05j79z_hsb25z6jm0000gn/T/ipykernel_45025/2119372747.py:2: SyntaxWarning: invalid escape sequence '\$'
  tn_movie_df['worldwide_gross'] = tn_movie_df['worldwide_gross'].str.replace('[\$,]', '', regex=True)

In [144]:
tn_movie_df

,id,movie,production_budget,worldwide_gross,year
title_year,,,,,
"Avatar, 2009",1,Avatar,425000000,2776345279,2009
"Pirates of the Caribbean: On Stranger Tides, 2011",2,Pirates of the Caribbean: On Stranger Tides,410600000,1045663875,2011
"Dark Phoenix, 2019",3,Dark Phoenix,350000000,149762350,2019
"Avengers: Age of Ultron, 2015",4,Avengers: Age of Ultron,330600000,1403013963,2015
"Star Wars Ep. VIII: The Last Jedi, 2017",5,Star Wars Ep. VIII: The Last Jedi,317000000,1316721747,2017
...,...,...,...,...,...
"Red 11, 2018",78,Red 11,7000,0,2018
"Following, 1999",79,Following,6000,240495,1999
"Return to the Land of Wonders, 2005",80,Return to the Land of Wonders,5000,1338,2005
"A Plague So Pleasant, 2015",81,A Plague So Pleasant,1400,0,2015
"My Date With Drew, 2005",82,My Date With Drew,1100,181041,2005

In [153]:
usmovies_budgets = us_movies_df.join(tn_movie_df, on='title_year', how='inner', rsuffix='_md')
clean_movies = usmovies_budgets[['movie_id', 'year', 'production_budget', 'worldwide_gross', 'genres', 'director_names', 'writer_names']]
clean_movies

,movie_id,year,production_budget,worldwide_gross,genres,director_names,writer_names
title_year,,,,,,,
"The Promise, 2017",tt4192918,2017,90000000,10551417,Comedy,"Daniel Beard, Candy J. Beard","Candy J. Beard, Candy J. Beard"
"Avengers: Infinity War, 2018",tt4154756,2018,300000000,2048134200,"Action,Adventure,Sci-Fi","Anthony Russo, Joe Russo, Anthony Russo, Joe R...","Christopher Markus, Christopher Markus, Stephe..."
"Redemption, 2013",tt3279418,2013,23000000,13593473,"Drama,Mystery,Thriller",Tim Martin Crouse,Tim Martin Crouse
"Bajrangi Bhaijaan, 2015",tt3863552,2015,13000000,121778347,"Action,Comedy,Drama","Kabir Khan, Kabir Khan, Kabir Khan, Kabir Khan...","Vijayendra Prasad, Kabir Khan, Parveez Sheikh,..."
"The Sound and the Shadow, 2014",tt2190180,2014,500000,0,"Comedy,Mystery,Thriller","Justin Paul Miller, Justin Paul Miller","Justin Paul Miller, Sam Zvibleman"
"Before Midnight, 2013",tt2209418,2013,3000000,23251930,"Drama,Romance","Richard Linklater, Richard Linklater, Richard ...","Richard Linklater, Julie Delpy, Ethan Hawke, K..."
"Captain Phillips, 2013",tt1535109,2013,55000000,220648184,"Biography,Drama,Thriller","Paul Greengrass, Paul Greengrass, Paul Greengrass","Billy Ray, Richard Phillips, Stephan Talty"
"The Hobbit: The Desolation of Smaug, 2013",tt1170358,2013,250000000,960366855,"Adventure,Fantasy","Peter Jackson, Peter Jackson, Peter Jackson, P...","Fran Walsh, Philippa Boyens, Peter Jackson, Gu..."
"Homefront, 2013",tt2558484,2013,22000000,51695362,Drama,Chip Rossetti,Chip Rossetti
"The Hadza: Last of the First, 2014",tt2139721,2014,650000,0,Documentary,Bill Benenson,None
"Burn, 2012",tt1781784,2012,225000,1109276,Documentary,"Tom Putnam, Brenna Sanchez",None
"The Family, 2013",tt4155318,2013,30000000,51078541,"Comedy,Crime,Drama",Matt Tory,Matt Tory
"Blue Valentine, 2010",tt1120985,2010,1000000,16566240,"Drama,Romance","Derek Cianfrance, Derek Cianfrance, Derek Cian...","Derek Cianfrance, Joey Curtis, Cami Delavigne"
"Denial, 2016",tt5897002,2016,10000000,9263940,Documentary,"Anoosh Tertzakian, Derek Hallquist, Anoosh Ter...","Derek Hallquist, Derek Hallquist, Anoosh Tertz..."
"I Can Only Imagine, 2018",tt6450186,2018,7000000,85604221,"Biography,Drama,Family","Jon Erwin, Andrew Erwin, Jon Erwin, Andrew Erw...","Bart Millard, Bart Millard, Jon Erwin, Jon Erw..."
"Queen of Katwe, 2016",tt4341582,2016,15000000,10055481,"Biography,Drama,Sport","Mira Nair, Mira Nair","William Wheeler, Tim Crothers"
"The Jungle Book, 2016",tt3040964,2016,175000000,962854547,"Adventure,Drama,Family","Jon Favreau, Jon Favreau","Justin Marks, Rudyard Kipling"
"As It Is in Heaven, 2014",tt2176228,2014,450000,13486,Drama,"Joshua Overbay, Joshua Overbay","Ginny Lee Overbay, Joshua Overbay"
"Fast Five, 2011",tt1596343,2011,125000000,630163454,"Action,Crime,Thriller","Justin Lin, Justin Lin","Chris Morgan, Gary Scott Thompson"
"An American in Hollywood, 2014",tt2125430,2014,125000,0,Drama,Sai Varadan,Sai Varadan
"Furious 7, 2015",tt2820852,2015,190000000,1518722794,"Action,Crime,Thriller","James Wan, James Wan","Chris Morgan, Gary Scott Thompson"
"The Past is a Grotesque Animal, 2014",tt3072636,2014,100000,20056,"Biography,Documentary,Music","Jason Miller, Jason Miller","Jason Miller, Andrew Napier"
"Rango, 2011",tt1192628,2011,135000000,245724600,"Adventure,Animation,Comedy","Gore Verbinski, Gore Verbinski, Gore Verbinski...","Will Finn, John Logan, Gore Verbinski, James W..."
"Greater, 2016",tt2950418,2016,9000000,2000093,"Biography,Family,Sport","David L. Hunt, David L. Hunt","Brian Reindl, David L. Hunt"
"The Image Revolution, 2014",tt2294916,2014,50000,0,"Biography,Documentary",Patrick Meaney,Patrick Meaney
"Ant-Man and the Wasp, 2018",tt5095030,2018,130000000,623144660,"Action,Adventure,Comedy","Peyton Reed, Peyton Reed, Peyton Reed, Peyton ...","Chris McKenna, Erik Sommers, Paul Rudd, Andrew..."
"The Harvest/La Cosecha, 2011",tt1981703,2011,560000,3709,Documentary,U. Roberto Romano,None
"The Adjustment Bureau, 2011",tt1385826,2011,50200000,126931325,"Romance,Sci-Fi,Thriller","George Nolfi, George Nolfi","George Nolfi, Philip K. Dick"
"Us, 2019",tt6857112,2019,20000000,254210310,"Horror,Mystery,Thriller",Jordan Peele,Jordan Peele
"8: The Mormon Proposition, 2010",tt1484522,2010,2500000,100280,Documentary,"Reed Cowan, Steven Greenstreet","Reed Cowan, Reed Cowan"
"Solo: A Star Wars Story, 2018",tt3778644,2018,275000000,393151347,"Action,Adventure,Fantasy","Ron Howard, Ron Howard, Ron Howard","Jonathan Kasdan, Lawrence Kasdan, George Lucas"

In [151]:
clean_movies

,movie_id,year,production_budget,worldwide_gross,genres,director_names,writer_names
title_year,,,,,,,
"The Promise, 2017",tt4192918,2017,90000000,10551417,Comedy,"Daniel Beard, Candy J. Beard","Candy J. Beard, Candy J. Beard"
"Avengers: Infinity War, 2018",tt4154756,2018,300000000,2048134200,"Action,Adventure,Sci-Fi","Anthony Russo, Joe Russo, Anthony Russo, Joe R...","Christopher Markus, Christopher Markus, Stephe..."
"Redemption, 2013",tt3279418,2013,23000000,13593473,"Drama,Mystery,Thriller",Tim Martin Crouse,Tim Martin Crouse
"Bajrangi Bhaijaan, 2015",tt3863552,2015,13000000,121778347,"Action,Comedy,Drama","Kabir Khan, Kabir Khan, Kabir Khan, Kabir Khan...","Vijayendra Prasad, Kabir Khan, Parveez Sheikh,..."
"The Sound and the Shadow, 2014",tt2190180,2014,500000,0,"Comedy,Mystery,Thriller","Justin Paul Miller, Justin Paul Miller","Justin Paul Miller, Sam Zvibleman"
"Before Midnight, 2013",tt2209418,2013,3000000,23251930,"Drama,Romance","Richard Linklater, Richard Linklater, Richard ...","Richard Linklater, Julie Delpy, Ethan Hawke, K..."
"Captain Phillips, 2013",tt1535109,2013,55000000,220648184,"Biography,Drama,Thriller","Paul Greengrass, Paul Greengrass, Paul Greengrass","Billy Ray, Richard Phillips, Stephan Talty"
"The Hobbit: The Desolation of Smaug, 2013",tt1170358,2013,250000000,960366855,"Adventure,Fantasy","Peter Jackson, Peter Jackson, Peter Jackson, P...","Fran Walsh, Philippa Boyens, Peter Jackson, Gu..."
"Homefront, 2013",tt2558484,2013,22000000,51695362,Drama,Chip Rossetti,Chip Rossetti
"The Hadza: Last of the First, 2014",tt2139721,2014,650000,0,Documentary,Bill Benenson,None
"Burn, 2012",tt1781784,2012,225000,1109276,Documentary,"Tom Putnam, Brenna Sanchez",None
"The Family, 2013",tt4155318,2013,30000000,51078541,"Comedy,Crime,Drama",Matt Tory,Matt Tory
"Blue Valentine, 2010",tt1120985,2010,1000000,16566240,"Drama,Romance","Derek Cianfrance, Derek Cianfrance, Derek Cian...","Derek Cianfrance, Joey Curtis, Cami Delavigne"
"Denial, 2016",tt5897002,2016,10000000,9263940,Documentary,"Anoosh Tertzakian, Derek Hallquist, Anoosh Ter...","Derek Hallquist, Derek Hallquist, Anoosh Tertz..."
"I Can Only Imagine, 2018",tt6450186,2018,7000000,85604221,"Biography,Drama,Family","Jon Erwin, Andrew Erwin, Jon Erwin, Andrew Erw...","Bart Millard, Bart Millard, Jon Erwin, Jon Erw..."
"Queen of Katwe, 2016",tt4341582,2016,15000000,10055481,"Biography,Drama,Sport","Mira Nair, Mira Nair","William Wheeler, Tim Crothers"
"The Jungle Book, 2016",tt3040964,2016,175000000,962854547,"Adventure,Drama,Family","Jon Favreau, Jon Favreau","Justin Marks, Rudyard Kipling"
"As It Is in Heaven, 2014",tt2176228,2014,450000,13486,Drama,"Joshua Overbay, Joshua Overbay","Ginny Lee Overbay, Joshua Overbay"
"Fast Five, 2011",tt1596343,2011,125000000,630163454,"Action,Crime,Thriller","Justin Lin, Justin Lin","Chris Morgan, Gary Scott Thompson"
"An American in Hollywood, 2014",tt2125430,2014,125000,0,Drama,Sai Varadan,Sai Varadan
"Furious 7, 2015",tt2820852,2015,190000000,1518722794,"Action,Crime,Thriller","James Wan, James Wan","Chris Morgan, Gary Scott Thompson"
"The Past is a Grotesque Animal, 2014",tt3072636,2014,100000,20056,"Biography,Documentary,Music","Jason Miller, Jason Miller","Jason Miller, Andrew Napier"
"Rango, 2011",tt1192628,2011,135000000,245724600,"Adventure,Animation,Comedy","Gore Verbinski, Gore Verbinski, Gore Verbinski...","Will Finn, John Logan, Gore Verbinski, James W..."
"Greater, 2016",tt2950418,2016,9000000,2000093,"Biography,Family,Sport","David L. Hunt, David L. Hunt","Brian Reindl, David L. Hunt"
"The Image Revolution, 2014",tt2294916,2014,50000,0,"Biography,Documentary",Patrick Meaney,Patrick Meaney
"Ant-Man and the Wasp, 2018",tt5095030,2018,130000000,623144660,"Action,Adventure,Comedy","Peyton Reed, Peyton Reed, Peyton Reed, Peyton ...","Chris McKenna, Erik Sommers, Paul Rudd, Andrew..."
"The Harvest/La Cosecha, 2011",tt1981703,2011,560000,3709,Documentary,U. Roberto Romano,None
"The Adjustment Bureau, 2011",tt1385826,2011,50200000,126931325,"Romance,Sci-Fi,Thriller","George Nolfi, George Nolfi","George Nolfi, Philip K. Dick"
"Us, 2019",tt6857112,2019,20000000,254210310,"Horror,Mystery,Thriller",Jordan Peele,Jordan Peele
"8: The Mormon Proposition, 2010",tt1484522,2010,2500000,100280,Documentary,"Reed Cowan, Steven Greenstreet","Reed Cowan, Reed Cowan"
"Solo: A Star Wars Story, 2018",tt3778644,2018,275000000,393151347,"Action,Adventure,Fantasy","Ron Howard, Ron Howard, Ron Howard","Jonathan Kasdan, Lawrence Kasdan, George Lucas"

In [154]:
us_movies_df.index = us_movies_df.index.astype(str).str.strip()
tn_movie_df.index = tn_movie_df.index.astype(str).str.strip()

In [155]:
print(f"Unique title_year values in us_movies_df: {len(us_movies_df.index.unique())}")
print(f"Unique title_year values in tn_movie_df: {len(tn_movie_df.index.unique())}")

Unique title_year values in us_movies_df: 7309
Unique title_year values in tn_movie_df: 5781

In [156]:
# Find title_year values in us_movies_df that are NOT in tn_movie_df
missing_in_tn = us_movies_df.index.difference(tn_movie_df.index)

# Find title_year values in tn_movie_df that are NOT in us_movies_df
missing_in_us = tn_movie_df.index.difference(us_movies_df.index)

print(f"🔹 Title_year values in us_movies_df but missing in tn_movie_df: {len(missing_in_tn)}")
print(f"🔹 Title_year values in tn_movie_df but missing in us_movies_df: {len(missing_in_us)}")

🔹 Title_year values in us_movies_df but missing in tn_movie_df: 7278
🔹 Title_year values in tn_movie_df but missing in us_movies_df: 5750

In [157]:
print("🔍 Sample of title_year values in us_movies_df but not in tn_movie_df:")
print(missing_in_tn[:10])

print("\n🔍 Sample of title_year values in tn_movie_df but not in us_movies_df:")
print(missing_in_us[:10])

🔍 Sample of title_year values in us_movies_df but not in tn_movie_df:
Index(['#BeRobin the Movie, 2015', '#Disneyland60, 2015',
       '#Slaughterhouse, 2017', '#Twerkumentary, 2016', '#standwithme, 2014',
       '#whilewewatch, 2011', ''51 Dons, 2014', ''Til Morning, 2013',
       '(Romance) in the Digital Age, 2017', '...And Then I Helped, 2010'],
      dtype='object', name='title_year')

🔍 Sample of title_year values in tn_movie_df but not in us_movies_df:
Index(['#Horror, 2015', '(500) Days of Summer, 2009',
       '10 Cloverfield Lane, 2016', '10 Days in a Madhouse, 2015',
       '10 Things I Hate About You, 1999', '10,000 B.C., 2008',
       '102 Dalmatians, 2000', '10th & Wolf, 2006', '11:14, 2005',
       '12 Angry Men, 1957'],
      dtype='object', name='title_year')

In [159]:
import re

def clean_title_year(index_series):
    return index_series.to_series().str.lower().apply(lambda x: re.sub(r"[^a-z0-9, ]", "", x))

# Apply cleaning to both DataFrame indexes
us_movies_df.index = clean_title_year(us_movies_df.index).values
tn_movie_df.index = clean_title_year(tn_movie_df.index).values

print("✅ Cleaned title_year in both DataFrames for better matching!")

✅ Cleaned title_year in both DataFrames for better matching!

In [160]:
# Find title_year values in us_movies_df that are NOT in tn_movie_df
missing_in_tn = us_movies_df.index.difference(tn_movie_df.index)

# Find title_year values in tn_movie_df that are NOT in us_movies_df
missing_in_us = tn_movie_df.index.difference(us_movies_df.index)

print(f"🔹 Title_year values in us_movies_df but missing in tn_movie_df: {len(missing_in_tn)}")
print(f"🔹 Title_year values in tn_movie_df but missing in us_movies_df: {len(missing_in_us)}")

🔹 Title_year values in us_movies_df but missing in tn_movie_df: 7276
🔹 Title_year values in tn_movie_df but missing in us_movies_df: 5748

In [161]:
# Show a few mismatched title_year values from each DataFrame
print("🔍 Sample of unmatched title_years in us_movies_df:")
print(missing_in_tn[:10])

print("\n🔍 Sample of unmatched title_years in tn_movie_df:")
print(missing_in_us[:10])

🔍 Sample of unmatched title_years in us_movies_df:
Index(['1 a minute, 2010', '1 in 3, 2010', '1 message, 2011',
       '1 way up the story of peckham bmx, 2014',
       '10 mountains 10 years, 2010', '100 headheartfeet, 2014',
       '100 miles to 40, 2010', '100 proof, 2010',
       '100 voices a journey home, 2010',
       '101 reasons liberty lives in new hampshire, 2014'],
      dtype='object')

🔍 Sample of unmatched title_years in tn_movie_df:
Index([' cj7, 2008', ' lintrieur, 2008', '10 cloverfield lane, 2016',
       '10 days in a madhouse, 2015', '10 things i hate about you, 1999',
       '10,000 bc, 2008', '102 dalmatians, 2000', '10th  wolf, 2006',
       '1114, 2005', '12 angry men, 1957'],
      dtype='object')

In [162]:
# Ensure all leading/trailing spaces are removed
us_movies_df.index = us_movies_df.index.str.strip()
tn_movie_df.index = tn_movie_df.index.str.strip()

print("✅ Removed hidden leading/trailing spaces in title_year!")

✅ Removed hidden leading/trailing spaces in title_year!

In [163]:
# Find title_year values in us_movies_df that are NOT in tn_movie_df
missing_in_tn = us_movies_df.index.difference(tn_movie_df.index)

# Find title_year values in tn_movie_df that are NOT in us_movies_df
missing_in_us = tn_movie_df.index.difference(us_movies_df.index)

print(f"🔹 Title_year values in us_movies_df but missing in tn_movie_df: {len(missing_in_tn)}")
print(f"🔹 Title_year values in tn_movie_df but missing in us_movies_df: {len(missing_in_us)}")

🔹 Title_year values in us_movies_df but missing in tn_movie_df: 7276
🔹 Title_year values in tn_movie_df but missing in us_movies_df: 5748

In [164]:
# Convert sets to sorted lists for easy comparison
missing_in_tn_list = sorted(list(missing_in_tn))[:10]  # Titles in us_movies_df but missing in tn_movie_df
missing_in_us_list = sorted(list(missing_in_us))[:10]  # Titles in tn_movie_df but missing in us_movies_df

# Display the values for manual comparison
print("🔍 Titles in us_movies_df but NOT in tn_movie_df:")
for title in missing_in_tn_list:
    print(f"- {title}")

print("\n🔍 Titles in tn_movie_df but NOT in us_movies_df:")
for title in missing_in_us_list:
    print(f"- {title}")

🔍 Titles in us_movies_df but NOT in tn_movie_df:
- 1 a minute, 2010
- 1 in 3, 2010
- 1 message, 2011
- 1 way up the story of peckham bmx, 2014
- 10 mountains 10 years, 2010
- 100 headheartfeet, 2014
- 100 miles to 40, 2010
- 100 proof, 2010
- 100 voices a journey home, 2010
- 101 reasons liberty lives in new hampshire, 2014

🔍 Titles in tn_movie_df but NOT in us_movies_df:
- 10 cloverfield lane, 2016
- 10 days in a madhouse, 2015
- 10 things i hate about you, 1999
- 10,000 bc, 2008
- 102 dalmatians, 2000
- 10th  wolf, 2006
- 1114, 2005
- 12 angry men, 1957
- 12 monkeys, 1995
- 12 rounds, 2009

In [165]:
import re

def normalize_numbers(index_series):
    return index_series.to_series().apply(lambda x: re.sub(r"(\d),(\d)", r"\1\2", x))  # Removes commas in numbers

# Apply normalization
us_movies_df.index = normalize_numbers(us_movies_df.index).values
tn_movie_df.index = normalize_numbers(tn_movie_df.index).values

print("✅ Normalized number formatting in title_year!")

✅ Normalized number formatting in title_year!

In [166]:
missing_in_tn = us_movies_df.index.difference(tn_movie_df.index)
missing_in_us = tn_movie_df.index.difference(us_movies_df.index)

print(f"🔹 Title_year values in us_movies_df but missing in tn_movie_df: {len(missing_in_tn)}")
print(f"🔹 Title_year values in tn_movie_df but missing in us_movies_df: {len(missing_in_us)}")

🔹 Title_year values in us_movies_df but missing in tn_movie_df: 7276
🔹 Title_year values in tn_movie_df but missing in us_movies_df: 5748

In [168]:
# Create DataFrames to compare title_year values side by side
us_titles_df = pd.DataFrame(us_movies_df.index, columns=['title_year'])
us_titles_df['source'] = 'us_movies_df'

tn_titles_df = pd.DataFrame(tn_movie_df.index, columns=['title_year'])
tn_titles_df['source'] = 'tn_movie_df'

# Combine both DataFrames
title_comparison = pd.concat([us_titles_df, tn_titles_df])

# Show the first 50 rows to analyze mismatches
print(title_comparison.head(50))

                                           title_year        source
0                          freeing bernie baran, 2010  us_movies_df
1                               revolution food, 2015  us_movies_df
2   a dedicated life phoebe brand beyond the group...  us_movies_df
3                     dog days in the heartland, 2017  us_movies_df
4                fly high story of the disc dog, 2019  us_movies_df
5                                 all around us, 2019  us_movies_df
6   ellis island the making of a master race in am...  us_movies_df
7                     send my mail to nashville, 2013  us_movies_df
8                  rise the story of augustines, 2018  us_movies_df
9                                   hiros table, 2018  us_movies_df
10                               our friend jon, 2018  us_movies_df
11                                    blackbear, 2019  us_movies_df
12         manry at sea  in the wake of a dream, 2018  us_movies_df
13  silver wingsflying dreams the complete story o...  us_movies_df
14                               7th generation, 2015  us_movies_df
15                          50 years of the 911, 2013  us_movies_df
16                                  on thin ice, 2019  us_movies_df
17                                      fiddlin, 2018  us_movies_df
18                                 winning girl, 2014  us_movies_df
19                             trenches of rock, 2017  us_movies_df
20                             shake em on down, 2017  us_movies_df
21                                 do u want it, 2017  us_movies_df
22         arrangiarsi pizza  the art of living, 2017  us_movies_df
23                              strung together, 2015  us_movies_df
24                          under a jarvis moon, 2010  us_movies_df
25                                     turnover, 2019  us_movies_df
26                                     wish man, 2019  us_movies_df
27        trial by fire a film based on crpsrsd, 2015  us_movies_df
28  we are ec the untold story of east chicago bas...  us_movies_df
29  some called them baby killers we call them her...  us_movies_df
30                  land of the rising fastball, 2010  us_movies_df
31  forgotten tragedy the story of the st francis ...  us_movies_df
32                              dateline saigon, 2016  us_movies_df
33                   harvesting the high plains, 2012  us_movies_df
34                                  flameworker, 2016  us_movies_df
35  moonshine to the finish line an unofficial his...  us_movies_df
36                             called to rescue, 2016  us_movies_df
37                           the rest i make up, 2018  us_movies_df
38                          the quality of life, 2015  us_movies_df
39                                angels within, 2017  us_movies_df
40                             officer involved, 2017  us_movies_df
41                               red dog  bates, 2018  us_movies_df
42                          the start of dreams, 2010  us_movies_df
43                              of dogs and men, 2016  us_movies_df
44                                  standing up, 2018  us_movies_df
45                               little ballers, 2013  us_movies_df
46                                  to be alone, 2017  us_movies_df
47                                   the elders, 2012  us_movies_df
48                 snarky puppy we like it here, 2014  us_movies_df
49                    the million dollar minute, 2012  us_movies_df

In [169]:
# Find how many title_year values exist in both DataFrames
common_title_years = us_movies_df.index.intersection(tn_movie_df.index)

print(f"✅ Shared title_year values: {len(common_title_years)} out of {len(us_movies_df)} in us_movies_df")
print(f"✅ Shared title_year values: {len(common_title_years)} out of {len(tn_movie_df)} in tn_movie_df")

✅ Shared title_year values: 33 out of 7315 in us_movies_df
✅ Shared title_year values: 33 out of 5782 in tn_movie_df

In [170]:
# Convert to a list and show the first 20 matches
print("🔍 Movies that exist in BOTH datasets:")
print(list(common_title_years)[:20])  # Show first 20 matches

🔍 Movies that exist in BOTH datasets:
['the promise, 2017', 'avengers infinity war, 2018', 'redemption, 2013', 'bajrangi bhaijaan, 2015', 'nightlights, 2014', 'the sound and the shadow, 2014', 'before midnight, 2013', 'captain phillips, 2013', 'the hobbit the desolation of smaug, 2013', 'homefront, 2013', 'the hadza last of the first, 2014', 'burn, 2012', 'the family, 2013', 'blue valentine, 2010', 'denial, 2016', 'i can only imagine, 2018', 'queen of katwe, 2016', 'the jungle book, 2016', 'as it is in heaven, 2014', 'fast five, 2011']

In [171]:
# Remove documentary movies
us_movies_df = us_movies_df[~us_movies_df['genres'].str.contains('documentary', case=False, na=False)]

print(f"✅ Removed documentaries! New row count: {len(us_movies_df)}")

✅ Removed documentaries! New row count: 3844

In [172]:
common_title_years = us_movies_df.index.intersection(tn_movie_df.index)

print(f"✅ Shared title_year values: {len(common_title_years)} out of {len(us_movies_df)} in us_movies_df")
print(f"✅ Shared title_year values: {len(common_title_years)} out of {len(tn_movie_df)} in tn_movie_df")

✅ Shared title_year values: 26 out of 3844 in us_movies_df
✅ Shared title_year values: 26 out of 5782 in tn_movie_df

In [173]:
# Sample of movies in tn_movie_df but missing from us_movies_df
missing_in_us_sample = list(missing_in_us)[:20]  # First 20 missing movies
print("🔍 Sample of movies in tn_movie_df but missing in us_movies_df:")
for movie in missing_in_us_sample:
    print(f"- {movie}")

# Sample of movies in us_movies_df but missing from tn_movie_df
missing_in_tn_sample = list(missing_in_tn)[:20]  # First 20 missing movies
print("\n🔍 Sample of movies in us_movies_df but missing in tn_movie_df:")
for movie in missing_in_tn_sample:
    print(f"- {movie}")

🔍 Sample of movies in tn_movie_df but missing in us_movies_df:
- 10 cloverfield lane, 2016
- 10 days in a madhouse, 2015
- 10 things i hate about you, 1999
- 10000 bc, 2008
- 102 dalmatians, 2000
- 10th  wolf, 2006
- 1114, 2005
- 12 angry men, 1957
- 12 monkeys, 1995
- 12 rounds, 2009
- 12 strong, 2018
- 12 years a slave, 2013
- 127 hours, 2010
- 13 going on 30, 2004
- 13 hours the secret soldiers of benghazi, 2016
- 13 sins, 2014
- 1408, 2007
- 15 minutes, 2001
- 16 blocks, 2006
- 16 to life, 2010

🔍 Sample of movies in us_movies_df but missing in tn_movie_df:
- 1 a minute, 2010
- 1 in 3, 2010
- 1 message, 2011
- 1 way up the story of peckham bmx, 2014
- 10 mountains 10 years, 2010
- 100 headheartfeet, 2014
- 100 miles to 40, 2010
- 100 proof, 2010
- 100 voices a journey home, 2010
- 101 reasons liberty lives in new hampshire, 2014
- 1010, 2011
- 1040 christianity in the new asia, 2010
- 1040 not so ez, 2017
- 11, 2018
- 1108, 2014
- 116 cameras, 2017
- 12 years of dfa too old to be new, too new to be classic, 2013
- 120 days, 2013
- 12th and clairmount, 2017
- 13 chambers, 2017

In [175]:
# Filter by a minimum vote count (adjust if needed)
min_votes = 500  # Adjust this number if the dataset is too small or large
us_movies_df = us_movies_df[us_movies_df['numvotes'] >= min_votes]

print(f"✅ Filtered out low-vote movies. New row count: {len(us_movies_df)}")

✅ Filtered out low-vote movies. New row count: 110

In [176]:
conn.close()